/* .todoContainer {
  width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
} */

.todoCreateForm {
  display: flex;
  gap: 5px;
}

.todoInput {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #999;
}

.todosContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.todo {
  padding: 10px;
  /* background-color: rgb(40, 210, 233); */
  background-color: #95f2f5;
}

.todoTitle {
  flex: 1;
  font-size: 20px;
}
.todoUpdateForm,
.todoInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

